services:
  app:
    build: .
    command: uv run python -m psychohelp.main
    container_name: app
    ports:
      - "${APP_PORT}:8000"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
    depends_on:
      - db
    volumes:
      - .:/app
      - ./images:/srv/images
  db:
    image: postgres:17
    container_name: db
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - mospoly-psychological-pg-data:/var/lib/postgresql/data

volumes:
  mospoly-psychological-pg-data:
