services:
  app:
    build: .
    command: uv run python -m psychohelp.main
    container_name: app
    ports:
      - "${APP_PORT:-8000}:8000"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - APP_HOST=${APP_HOST:-0.0.0.0}
      - APP_PORT=${APP_PORT:-8000}
    depends_on:
      - db
    volumes:
      - .:/app
      - /srv/images:/srv/images
  db:
    image: postgres:17
    container_name: db
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - mospoly-psychological-pg-data:/var/lib/postgresql/data

volumes:
  mospoly-psychological-pg-data:
